.custom-underline-hover {
  position: relative;
  display: inline-block;
}

.custom-underline-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--selected-item);
  transition: width 0.3s ease, left 0.3s ease;
}

.custom-underline-hover:hover::after {
  left: 0;
  width: 100%;
}

.navbar {
  color: var(--navbar-font);
  background-color: var(--navbar-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  z-index: 50;
  transition: all 0.2s ease-in-out;
  height: 50px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: var(--navbar-font);
  background-color: var(--navbar-background);
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
