/* https://colorhunt.co/palette/dbd8e35c5470352f442a2438 */

:root {
  /* Fonts */
  --base-font: white;
  /* Fillers */
  --body-background: #54515a;
  --modules-background: #34303d;
  --navbar-background: #131119;
}

body {
  color: var(--base-font);
  min-height: 100vh;
  background: var(--body-background);
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
